{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": ["/"]
      }
    ]
  },
  "overrides": [{
    "files": ["**/reducers/*.ts"],
    "rules": {
      "default-case": "off"
    }
  }]
}
